<!DOCTYPE html>
<html lang="en">
  {% include "head.tmpl" %}
  
  <body>
    {% include "nav.tmpl" %}    


    <div class="mtwocol__content">
      {% include "product-left.tmpl" %}
      <div class="mtwocol__right">
        <div class="news__article wow animated fadeIn">
          <h1 class="news__article-title" >
            <div>{{product.Title}}</div>
          </h1>
          <hr>
          <div class="news__article-content">
            <div class="modalprod__img" style="background-image:url('/img/delme8.jpg')"> </div>
            <div class="modalprod__section-holder">
              <div class="modalprod__section"> 
                <div>

                </div>
              </div>
              <div class="modalprod__section"> 
                <h5>产品特点</h5>
                <ul>
                  <li>CPU： 高通骁龙845（MSM8998）</li>
                  <li>后置： 5x1200万像素高清级像素 高于18.05%手机像素 ...</li>
                  <li>前置： 2000万像素高清级像素 高于82.36%手机像素 ...</li>
                  <li>内存： 6GB游戏运行良好 ...</li>
                  <li>电池： 3320mAh大电池 ...</li>
                  <li>屏幕： 5.99英寸可单手打字 ...</li>
                  <li>分辨率： 2880x1440像素2K超清</li>
                </ul>
                
              </div>

              
            </div>

            <div class="modal-footer">
              <a href="/page/contactus" class="btn btn-primary">联系购买</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    
    
    <!-- Modal -->
    {% include "footer.tmpl" %}
    <script src="/js/products.js"></script>
  </body>
</html>
