<!DOCTYPE html>
<html lang="en">
  {% include "head.tmpl" %}
  
  <body>
    {% include "nav.tmpl" %}    


    <div class="mtwocol__content">
      {% include "product-left.tmpl" %}
      
      <div class="news__article wow animated fadeIn">
        <h1 class="news__article-title" >
          <div>{{product.Title}}</div>
        </h1>
        <hr>
        <div class="news__article-content">
          <div class="modalprod__img" style="background-image:url('/img/wallet-phone-wide.png')"> </div>
          <div class="modalprod__section-holder">
            <div class="modalprod__section"> 
              <h3>产品特点及应用</h3>
              <ul>
                <li>支持企业快速在区块链上发布加密虚拟资产收藏品（如电子积分），其领先的ERC721协议，保证发行的公正性以及不可复制性，可广泛应用到高端产品（如酒类、珠宝、奢侈品）的限量电子凭证。</li>
                <li>支持ERC20协议，完美地利用将区块链的智能合约和物联网结合起来，让客户产品可信可靠可依赖。</li>
                <li>支持非对称性加密算法，支持多重签名技术，保证资产管理的安全性。</li>
              </ul>
            </div>
            <a target="_blank" href="https://ukeepwallet.com/">前往Ukeep Wallet官网</a>
          </div>
          
          <div class="modal-footer">
            <a href="/page/contactus" class="btn btn-primary">联系购买</a>
          </div>
        </div>
      </div>
      
    </div>

    {% include "footer.tmpl" %}
    <script src="/js/products.js"></script>
  </body>
</html>
