<!DOCTYPE html>
<html lang="en">
  {% include "head.tmpl" %}
  
  <body>
    {% include "nav.tmpl" %}    


    <div class="mtwocol__content">
      {% include "product-left.tmpl" %}
      
      <div class="news__article wow animated fadeIn">
        <h1 class="news__article-title" >
          <div>{{product.Title}}</div>
        </h1>
        <hr>
        <div class="news__article-content">
          <div class="modalprod__img" style="background-image:url('/img/01.12.png')"> </div>
          <div class="modalprod__section-holder">
            <div class="modalprod__section"> 
              <h3>产品特点及应用</h3>
              <ul>
                <li>发烧报警</li>
                <li>体温历史记录</li>
                <li>非接触式测量</li>
                <li>既可测量体温也可测量物温</li>
                <li>替代传统额温枪</li>
                <li>即插即用，方便携带</li>
              </ul>
            </div>
          </div>

          <div><a href="https://ajc.emartech.com.cn/">下载App</a> | <a href="https://ajc.emartech.com.cn/#/ads">宣传册</a></div>
          
          <div class="modal-footer">
            <a href="/page/contactus" class="btn btn-primary">联系购买</a>
          </div>
        </div>
      </div>
      
    </div>

    {% include "footer.tmpl" %}
    <script src="/js/products.js"></script>
  </body>
</html>
