<!DOCTYPE html>
<html lang="en">
  {% include "head.tmpl" %}
 
  <body>
    {% include "nav.tmpl" %}

    <div class="aboutus__header-image"> </div>

    <div class="mtwocol__content">
      <div class="mtwocol__left">
        <div>
          <h3> 关于我们 </h3><hr class="aboutus__rule">

          <p>
            __title.full__成立于2017年，致力于打造“区块链+物联网”行业领先产品。
          </p>
          <!-- <a href="#anchor1"> 企业愿景 </a><br> -->
          <!-- <a href="#anchor1"> 核心优势</a><br> -->
          <!-- <a href="#anchor1"> 公司概况</a> -->
          
        </div>
        
      </div>
      <div class="mtwocol__right">
        <div class="aboutus__content">
          <h3 class="lead" id="anchor1"> 企业愿景 </h3><hr>
          <p>
            物联网+，助力行业发展！
          </p>

          <h3 class="lead" id="anchor2">核心优势</h3>
          <ul class="aboutus__advantages">
            <li>整体解决方案：为客户提供物联网与区块链的整体解决方案，协助客户优化方案设计成本；</li>
            <li> 技术团队：我们拥有高层次的软硬件技术团队，并与多所著名高校技术合作，具备充足的人才储备；</li>
            <li> 自主研发能力：持续创新为市场提供更高性价比的产品；</li>
            <li> 10年行业经验：来自中兴华为等一线大企业的技术人员10年专注的研发经验；</li>
          </ul>

          <h3 class="lead" id="anchor3">公司概况</h3>
          <p>深圳__title.simple__是深圳南山区一家集物联网产品和方案软硬件研发、生产和销售于一体的物联网科技企业。公司致力于物联网一体化解决方案和产品。经过长期积累，现有轻量化lora网关，全协议NFC读卡器、高性价比超高频RFID读卡器及手持设备、无源RFID温度标签、定位轨迹追踪系统、RFID资产管理系统及云平台等产品和方案、物联网+区块链防伪溯源等解决方案。</p>

          <p>本公司团队专业，成员大部分毕业于清华大学、新加坡国立大学、电子科技大学等高校，相关理论基础扎实；具备华为2012实验室、TPLINK、中兴通讯、腾讯等公司近10年开发经历，实践经验丰富。公司从需求导入、研发设计、稳定性调试等多维度优化产品和方案，参与了多个客户方案委托开发、产品定制和生产等。</p>

          <p>公司致力于为国内外众多客户提供极强竞争力的产品方案与ODM服务。目前，公司已为比亚迪电子、国家电网等提供解决方案。自研产品远销印度、新加坡、德国、澳大利亚等国家，产品和方案应用到农业、电力、畜牧、服装、冷链物流、医药高档酒品高价值产品防伪等多领域。</p>
          
        </div>
      </div>
    </div>
    
    {% include "footer.tmpl" %}
  </body>
</html>
