<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/fontawesome-free-5.7.2-web/css/all.min.css">
  
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <title>{% if Title %}{{Title}}{% else %}__title.en__ - __title.simple__{% endif %}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54483927-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-54483927-7');
</script>

</head>
