<!DOCTYPE html>
<html lang="en">
  {% include "head.tmpl" %}
 
  <body>
    
    {% include "nav.tmpl" %}
    <section class="home__carousel section-global-wrapper"> 
      <div >
        <div class="row">
          <div id="carousel-1" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators visible-lg">
              <li data-target="#carousel-1" data-slide-to="0" class=""></li>
              <li data-target="#carousel-1" data-slide-to="1" class="active"></li>
              <li data-target="#carousel-1" data-slide-to="2" class=""></li>
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner home__top-slides" role="listbox">
              <!-- Begin Slide 1 -->
              <div class="item">
                <div class="home__carousel-img" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/delme1.jpg');"></div>
                <div class="home__carousel-caption carousel-caption">
                  <h3 class="carousel-title">Slide 1</h3>
                  <p class="carousel-body">全套RFID解决方案助您快速开发各类应用</p>
                </div>
              </div>
              <!-- End Slide 1 -->

              <!-- Begin Slide 2 -->
              <div class="item active">
                <div class="home__carousel-img" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/delme2.jpg');"></div>
                <div class="home__carousel-caption carousel-caption">
                  <h3 class="carousel-title">Slide 2</h3>
                  <p class="carousel-body">自定义LORA轻型协议、自有云端平台，满足多种使用场景</p>
                </div>
              </div>
              <!-- End Slide 2 -->

              <!-- Begin Slide 3 -->
              <div class="item">
                <div class="home__carousel-img" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/delme3.jpg');"></div>
                <div class="home__carousel-caption carousel-caption">
                  <h3 class="carousel-title">Slide 3</h3>
                  <p class="carousel-body">“物联网”解决方案</p>
                </div>
              </div>
              <!-- End Slide 3 -->
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    
    
    <section class="section-2">
      <div class="section-2__body">
        <div class="section-2__header">
          <h3 class="services-header-title">产品展示</h3>
          <a href="/page/products"><i class="fas fa-angle-right"></i> 更多</a>
        </div>
        
        <div class="section-2__grid">
          <div class="section-2__group-wraper">
            <a href="/page/product?id=3" class="section-2__group " data-wow-offset="40"
                 style="background-image: url('/img/delme0.jpg')">
              <div class="section-2__group-content">
                <h4>产品标题</h4>
                <p>一句话产品</p>
              </div>
            </a>
          </div> 

          <div class="section-2__group-wraper">
            <a href="/page/product?id=2" class="section-2__group " data-wow-offset="40"
                 style="background-image: url('/img/delme1.jpg')">
              <div class="section-2__group-content">
                <h4>产品标题</h4>
                <p>一句话产品</p>
              </div>
            </a>
          </div>

          <div class="section-2__group-wraper">
            <a href="/page/product?id=4" class="section-2__group " data-wow-offset="40"
                 style="background-image: url('/img/delme2.jpg')">
              <div class="section-2__group-content">
                <h4>产品标题</h4>
                <p>一句话产品</p>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </section>

    <section class="section-2 section-2--service">
      <div class="section-2__body">
        <div class="section-2__header">
          <h3 class="services-header-title">方案与服务</h3>
          <a href="/page/solutions"><i class="fas fa-angle-right"></i> 更多</a>
        </div>

        <div class="section-2__grid">
          <div class="section-2__group-wraper">
            <a href="/page/solution?id=1" class="section-2__group  bg-cover" data-wow-offset="40"
                 style="background-image: url('/img/delme3.jpg')">
              <div class="section-2__group-content">
                <h4>方案标题</h4>
                <p>一句话方案</p>
              </div>
            </a>
          </div>

          <div class="section-2__group-wraper">
            <a href="/page/solution?id=2" class="section-2__group  bg-cover" data-wow-offset="40"
                 style="background-image: url('/img/delme4.jpg')">
              <div class="section-2__group-content">
                <h4>方案标题</h4>
                <p>一句话方案</p>
              </div>
            </a>
          </div>

          <div class="section-2__group-wraper">
            <a href="/page/solution?id=3" class="section-2__group  bg-cover" data-wow-offset="40"
                 style="background-image: url('/img/delme5.jpg')">
              <div class="section-2__group-content">
                <h4>方案标题</h4>
                <p>一句话方案</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section>

    <section class="section-2 section-2--service">
      <div class="section-2__body">
        <div class="section-2__header">
          <h3 class="services-header-title">关于我们</h3>
          <a href="/page/aboutus"><i class="fas fa-angle-right"></i> 更多</a>
        </div>

        <div class="home__aboutus">
          <div class="  home__aboutus-img"></div>
          <div class=" home__aboutus-content">
              <strong>__title.full__</strong>是一家位于中國北京的跨国互联网技术公司，成立于2012年3月，旗下有产品今日头条、火山短视频和抖音（及其海外版本TikTok）等。

              <br>
              至2018年，字节跳动的移动应用月度用户超过十亿人，估值750亿美元，超越Uber成为全球最有价值的创业公司。截至2019年7月，字节跳动的产品和服务已覆盖全球150个国家和地区、75个语种，曾在40多个国家和地区位居应用商店总榜前列。

              <br>

              在中国互联网企业中，字节跳动是第一家没有向阿里巴巴、腾讯或百度寻求商業保护或融資的创业公司；相反地，字节跳动被认为与百度、腾讯两大巨头有强烈的竞争关系，因字节跳动资金主要来源于抖音和今日头条的广告收入。
              <br>

至2020年3月，字节跳动已经有六万员工，并计划再增员一万人。投资人和内部消息将字节跳动2019年的营收定在1,040亿元至1,400亿元人民币，超过了Uber、Snapchat和推特的总和，广告收入也超越了腾讯、仅次于阿里巴巴。抖音的全球下载量达1.15亿次，固定用户近10亿。 
            
          </div>
        </div>

      </div>
    </section>


    <section class="section-2 section-2--service">
      <div class="section-2__body">
        <div class="section-2__header">
          <h3 class="services-header-title">行业新闻</h3>
          <a href="/page/news-list"><i class="fas fa-angle-right"></i> 更多</a>
        </div>

        <div class="home__news">
          
          {% for nw in NewsList %}
          <a href="/page/news?id={{nw.ID}}" >
            <h4>{{nw.Title}}</h4>
            <p>{{nw.Abstract}}</p>
          </a>
          {% endfor %}


        </div>
      </div>
    </section>

    {% include "footer.tmpl" %}
  </body>
</html>
